<form [formGroup]="mainForm" novalidate (ngSubmit)="onSubmit()">
    <h1 mat-dialog-title>{{ 'GENERAL_VALUE_LIST_TITLE' | translate }}</h1>
    <div mat-dialog-content>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="{{ 'GENERAL_VALUE_LIST_LIST_CODE' | translate }}"
                        formControlName="valueListCode">
                    <mat-error *ngIf="mainForm.controls['valueListCode'].hasError('required')">
                        <strong>{{ 'GENERAL_VALUE_LIST_LIST_CODE' | translate }}</strong>{{ 'COMMON_MESSAGE_ERROR_REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="mainForm.controls['valueListCode'].hasError('minlength')">
                        {{ 'COMMON_MESSAGE_ERROR_MINLENGTH_PART1' | translate }}<strong>{{ 'GENERAL_VALUE_LIST_LIST_CODE' | translate }}</strong>{{ 'COMMON_MESSAGE_ERROR_MINLENGTH_PART2' | translate }}
                    </mat-error>
                    <mat-error *ngIf="mainForm.controls['valueListCode'].hasError('maxlength')">
                        {{ 'COMMON_MESSAGE_ERROR_MAXLENGTH_PART1' | translate }}<strong>{{ 'GENERAL_VALUE_LIST_LIST_CODE' | translate }}</strong>{{ 'COMMON_MESSAGE_ERROR_MAXLENGTH_PART2' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="{{ 'GENERAL_VALUE_LIST_LIST_CATEGORY' | translate }}"
                        formControlName="valueListCategory">
                    <mat-error *ngIf="mainForm.controls['valueListCategory'].hasError('required')">
                        <strong>{{ 'GENERAL_VALUE_LIST_LIST_CATEGORY' | translate }}</strong>{{ 'COMMON_MESSAGE_ERROR_REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="mainForm.controls['valueListCategory'].hasError('minlength')">
                        {{ 'COMMON_MESSAGE_ERROR_MINLENGTH_PART1' | translate }}<strong>{{ 'GENERAL_VALUE_LIST_LIST_CATEGORY' | translate }}</strong>{{ 'COMMON_MESSAGE_ERROR_MINLENGTH_PART2' | translate }}
                    </mat-error>
                    <mat-error *ngIf="mainForm.controls['valueListCategory'].hasError('maxlength')">
                        {{ 'COMMON_MESSAGE_ERROR_MAXLENGTH_PART1' | translate }}<strong>{{ 'GENERAL_VALUE_LIST_LIST_CATEGORY' | translate }}</strong>{{ 'COMMON_MESSAGE_ERROR_MAXLENGTH_PART2' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput type="number" placeholder="{{ 'GENERAL_VALUE_LIST_LIST_ORDER' | translate }}"
                        formControlName="listOrder">
                    <mat-error *ngIf="mainForm.controls['listOrder'].hasError('required')">
                        <strong>{{ 'GENERAL_VALUE_LIST_LIST_ORDER' | translate }}</strong>{{ 'COMMON_MESSAGE_ERROR_REQUIRED' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="{{ 'GENERAL_VALUE_LIST_SHORT_DESCRIPTION' | translate }}"
                        formControlName="shortDescription">
                    <mat-error *ngIf="mainForm.controls['shortDescription'].hasError('required')">
                        <strong>{{ 'GENERAL_VALUE_LIST_SHORT_DESCRIPTION' | translate }}</strong>{{ 'COMMON_MESSAGE_ERROR_REQUIRED' | translate }}
                    </mat-error>
                    <mat-error *ngIf="mainForm.controls['shortDescription'].hasError('minlength')">
                        {{ 'COMMON_MESSAGE_ERROR_MINLENGTH_PART1' | translate }}<strong>{{ 'GENERAL_VALUE_LIST_SHORT_DESCRIPTION' | translate }}</strong>{{ 'COMMON_MESSAGE_ERROR_MINLENGTH_PART2' | translate }}
                    </mat-error>
                    <mat-error *ngIf="mainForm.controls['shortDescription'].hasError('maxlength')">
                        {{ 'COMMON_MESSAGE_ERROR_MAXLENGTH_PART1' | translate }}<strong>{{ 'GENERAL_VALUE_LIST_SHORT_DESCRIPTION' | translate }}</strong>{{ 'COMMON_MESSAGE_ERROR_MAXLENGTH_PART2' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="full-width">
                    <input matInput placeholder="{{ 'GENERAL_VALUE_LIST_LONG_DESCRIPTION' | translate }}"
                        formControlName="longDescription">
                    <mat-error *ngIf="mainForm.controls['longDescription'].hasError('maxlength')">
                        {{ 'COMMON_MESSAGE_ERROR_MAXLENGTH_PART1' | translate }}<strong>{{ 'GENERAL_VALUE_LIST_LONG_DESCRIPTION' | translate }}</strong>{{ 'COMMON_MESSAGE_ERROR_MAXLENGTH_PART2' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col" *ngIf="!create">
                <mat-form-field class="full-width">
                    <mat-select placeholder="{{ 'COMMON_INPUT_STATUS' | translate }}" formControlName="rowStatus">
                        <mat-option *ngFor="let status of statuses" [value]="status.value">
                            {{ status.text | translate}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="mainForm.controls['rowStatus'].hasError('required')">
                        <strong>{{ 'COMMON_INPUT_STATUS' | translate }}</strong>{{ 'COMMON_MESSAGE_ERROR_REQUIRED' | translate }}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </div>
    <div mat-dialog-actions>
        <button mat-raised-button color="primary" *ngIf="mainForm.status === 'VALID'"
            type="submit">{{ 'COMMON_BUTTON_SAVE' | translate }}</button>
        <button mat-raised-button color="warn" type="button"
            (click)="close()">{{ 'COMMON_BUTTON_CANCEL' | translate }}</button>
    </div>
</form>