/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-width-table {
  width: 100%;
}

.grid-container {
  margin: 20px;
}

.full-width {
  width: 100%;
}

.main-card {
  min-width: 120px;
  margin: 20px auto;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.add-button {
  z-index: 5;
  position: fixed;
  bottom: 5%;
  right: 2%;
}