
@{
    ViewData["Title"] = "Ordenes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-3" ng-show="!vm.form">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-primary" ng-click="vm.nuevo()">Nueva Orden</button>
            </div>
            <div class="card-body">
                <div class="fontsize-10" ui-grid="vm.gridOptionsPro" ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize></div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-md-3" ng-show="vm.form">
    <div class="col-12 pl-5 pr-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>{{vm.entity.tipoDoc}} #{{vm.entity.numDoc}}</h4>
                    </div>
                    <div class="card-body">
                        <form id="formApp" name="formApp" novalidate="novalidate" class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-12 col-md-6">
                                    <label class="required">Proveedor:</label>
                                    <ui-select ng-model="vm.entity.idProveedor"
                                               form="formApp"
                                               theme="bootstrap"
                                               tabindex="7"
                                               required
                                               on-select="vm.onChangeProveedor($item, $model)">
                                        <ui-select-match placeholder="Seleccione un proveedor...">{{$select.selected.nombreProveedor}}</ui-select-match>
                                        <ui-select-choices repeat="item.idProveedor as item in vm.listProveedores track by $index">
                                            <div ng-bind-html="item.nombreProveedor | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="required">Almacen</label>
                                    <ui-select ng-model="vm.entity.idDetAlmacen"
                                               form="formApp"
                                               theme="bootstrap"
                                               tabindex="7"
                                               required>
                                        <ui-select-match placeholder="Seleccione un almacen...">{{$select.selected.descripcion}}</ui-select-match>
                                        <ui-select-choices repeat="item.idDetalle as item in vm.listAlmacens track by $index">
                                            <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-md-6">
                                    <label class="required">Direcci&oacute;n Despacho:</label>
                                    <input type="text" ng-model="vm.entity.direccionDesp" form="formApp" class="form-control" />
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="required">Centro Costo:</label>
                                    <ui-select ng-model="vm.entity.idDetCenCosto"
                                               form="formApp"
                                               theme="bootstrap"
                                               tabindex="7"
                                               required>
                                        <ui-select-match placeholder="Seleccione un plazo de pago...">{{$select.selected.descripcion}}</ui-select-match>
                                        <ui-select-choices repeat="item.idDetalle as item in vm.listCentrosCosto track by $index">
                                            <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-md-4">
                                    <label class="required">Fecha Orden:</label>
                                    <input type="text"
                                           form="formApp"
                                           datepicker=""
                                           dp-format="yyyy-mm-dd"
                                           ng-model="vm.entity.fechaDoc"
                                           class="form-control"
                                           required />
                                </div>
                                <div class="col-12 col-md-4">
                                    <label class="required">Plazo de Pago:</label>
                                    <ui-select ng-model="vm.entity.idPlazoPago"
                                               form="formApp"
                                               theme="bootstrap"
                                               tabindex="7"
                                               required>
                                        <ui-select-match placeholder="Seleccione un plazo de pago...">{{$select.selected.descripcion}}</ui-select-match>
                                        <ui-select-choices repeat="item.idPlazoPago as item in vm.listPlazosPago track by $index">
                                            <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h6>Articulos Detallados</h6>
                    </div>
                    <div class="card-body">
                        <div class="col-12">
                            <ui-select ng-model="vm.entity.idArticulo"
                                       form="formAppDet"
                                       theme="bootstrap"
                                       tabindex="7"
                                       required
                                       on-select="vm.onChangeArticulo($item, $model)">
                                <ui-select-match placeholder="Seleccione un articulo...">{{$select.selected.nombreBusqueda}}</ui-select-match>
                                <ui-select-choices repeat="item.idArticulo as item in vm.listArticulos track by $index"
                                                   refresh="vm.refreshArticulo($select.search)"
                                                   refresh-delay="0">
                                    <div ng-bind-html="item.nombreBusqueda | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-12 mt-sm-3">
                            <div class="fontsize-10" ui-grid="vm.gridOptions" ui-grid-selection ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                        </div>
                        <div class="col-12 mt-sm-3">
                            <label>Comentarios:</label><br />
                            <textarea ng-model="vm.entity.comentarios" class="form-control"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-3">
                                    <label>Vr. Bruto:</label>
                                    <input type="text" ng-model="vm.entity.valorBruto | number : 0" class="form-control" onkeydown="return false" />
                                </div>
                                <div class="col-12 col-md-3">
                                    <label>Vr. Descuento:</label>
                                    <input type="text" ng-model="vm.entity.valorDscto | number : 0" class="form-control" onkeydown="return false" />
                                </div>
                                <div class="col-12 col-md-3">
                                    <label>Vr. Iva:</label>
                                    <input type="text" ng-model="vm.entity.valorIva | number : 0" class="form-control" onkeydown="return false" />
                                </div>
                                <div class="col-12 col-md-3">
                                    <label>Vr. Neto:</label>
                                    <input type="text" ng-model="vm.entity.valorNeto | number : 0" class="form-control" onkeydown="return false" />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12 text-right">
                                    <button class="btn btn-default" ng-click="vm.regresar()">Regresar</button>
                                    <button class="btn btn-primary" ng-click="vm.guardar()" ng-disabled="formApp.$invalid || vm.gridOptions.data.length === 0">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/master/js/controllers/compras/ordenes.controller.js"></script>