
@{
    ViewData["Title"] = "Tablas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4" ng-show="!vm.formVisibleDet">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="card">
            <div class="card-header">
                <h4>Registros</h4>
            </div>
            <div class="card-body">
                <form id="formApp" name="formApp" novalidate="novalidate" class="form-horizontal">
                    <div class="form-group row">
                        <div class="col-12 col-md-6">
                            <ui-select ng-model="vm.entityTab.idTabla"
                                       form="formApp"
                                       theme="bootstrap"
                                       tabindex="7"
                                       on-select="vm.onChangeTabla($item, $model)"
                                       required>
                                <ui-select-match placeholder="Seleccione una tabla...">{{$select.selected.descripcion}}</ui-select-match>
                                <ui-select-choices repeat="item.idTabla as item in vm.listTablas | filter: $select.search">
                                    <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-12 col-md-6">
                            <button class="btn btn-primary" ng-click="vm.getAllDet()" ng-disabled="formApp.$invalid">Buscar</button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <div class="fontsize-10" ui-grid="vm.gridOptionsDet" ui-grid-edit ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" ng-click="vm.nuevoDet()">Nuevo</button>
            </div>
        </div>
    </div>
</div>


@*<div class="row mt-4" ng-show="vm.modoDet && !vm.formVisibleDet">
        <div class="col-12 offset-md-1 col-md-10">
            <div class="card">
                <div class="card-header text-center">
                    <h4>{{ vm.entity.tabla.descripcion }}</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12">

                        </div>
                        <div class="col-12 mt-3">
                            <button class="btn btn-default" ng-click="vm.regresarDet()">Regresar</button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="row mt-4" ng-show="vm.formVisibleDet">
    <div class="col-12 offset-md-2 col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 ng-show="!vm.formModifyDet">Nuevo</h4>
                <h4 ng-show="vm.formModifyDet">Editar</h4>
            </div>
            <div class="card-body">
                <form id="formAppDet" name="formAppDet" novalidate="" class="form-horizontal">
                    <div class="form-group row">
                        <div class="col-12 col-md-8">
                            <label>Descripci&oacute;n Tabla:</label>
                            <input type="text" form="formAppDet" ng-model="vm.entity.descripcion" class="form-control" disabled="disabled" required />
                        </div>
                        <div class="col-12 col-md-4">
                            <label>C&oacute;digo:</label>
                            <input type="text" form="formAppDet" ng-model="vm.entityDet.codigo" class="form-control" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-8">
                            <label>Descripci&oacute;n:</label>
                            <input type="text" form="formAppDet" ng-model="vm.entityDet.descripcion" class="form-control" required />
                        </div>
                        <div class="col-12 col-md-4">
                            <label>Estado:</label>
                            <select ng-model="vm.entityDet.estado" form="formAppDet" class="form-control" required>
                                <option ng-repeat="item in vm.listEstados" value="{{ item.codigo }}">{{ item.descripcion }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <button class="btn btn-primary" ng-click="vm.guardarDet()" ng-disabled="formAppDet.$invalid">Guardar</button>
                            <button class="btn btn-default" ng-click="vm.cancelarDet()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/master/js/controllers/general/tablas.empresa.controller.js"></script>