
@{
    ViewData["Title"] = "Conceptos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4" ng-show="!vm.formVisible">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="card">
            <div class="card-header">
                <button class="btn btn-primary" ng-click="vm.nuevo()">Nuevo</button>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="fontsize-10" ui-grid="vm.gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4" ng-show="vm.formVisible">
    <div class="col-12 offset-md-2 col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 ng-show="!vm.formModify">Nuevo</h4>
                <h4 ng-show="vm.formModify">Editar</h4>
            </div>
            <div class="card-body">
                <form id="formApp" name="formApp" novalidate="" class="form-horizontal">
                    <div class="form-group row">
                        <div class="col-12">
                            <label>Descripci&oacute;n:</label>
                            <input type="text" class="form-control" form="formApp" ng-model="vm.entity.descripcion" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-4">
                            <label>C&oacute;digo:</label>
                            <input type="text" class="form-control" form="formApp" ng-model="vm.entity.codConcepto" required />
                        </div>
                        <div class="col-12 col-md-4">
                            <label>Aplica Cartera:</label>
                            <select ng-model="vm.entity.aplicaCartera" form="formApp" class="form-control" required>
                                <option ng-repeat="item in vm.listBool" value="{{ item.codigo }}">{{ item.descripcion }}</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-4">
                            <label>Aplica Venta:</label>
                            <select ng-model="vm.entity.aplicaVenta" form="formApp" class="form-control" required>
                                <option ng-repeat="item in vm.listBool" value="{{ item.codigo }}">{{ item.descripcion }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12">
                            <button class="btn btn-primary" ng-click="vm.guardar()" ng-disabled="formApp.$invalid">Guardar</button>
                            <button class="btn btn-default" ng-click="vm.cancelar()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/master/js/controllers/cartera/conceptos.controller.js"></script>