
@{
    ViewData["Title"] = "Ventas - Caja";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-4" ng-show="vm.gridVisible">
    <div class="col-12 offset-md-1 col-md-8">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <label>Cajero:</label>
                        <ui-select ng-model="vm.idCajero"
                                   theme="bootstrap"
                                   tabindex="7"
                                   on-select="vm.onSelectCajero($item, $model)">
                            <ui-select-match placeholder="Seleccione...">{{$select.selected.descripcion}}</ui-select-match>
                            <ui-select-choices repeat="item.idDetalle as item in vm.listCajeros | filter: $select.search">
                                <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-12 col-md-6" ng-if="vm.cajaCerrada">
                        <br />
                        <button class="btn btn-primary" ng-click="vm.abrirCaja()">Abrir Caja</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="fontsize-10" ui-grid="vm.gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4" ng-show="vm.formEgreso">
    <div class="col-12 offset-md-1 col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>Egreso</h4>
            </div>
            <div class="card-body">
                <form id="formEg" name="formEg" novalidate="novalidate" class="form-horizontal">
                    <div class="form-group row">
                        <div class="col-12 col-md-8">
                            <label>Cajero:</label>
                            <input type="text" class="form-control" form="formEg" ng-model="vm.entityCaj.descripcion" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-4">
                            <label>Saldo En Caja</label>
                            <input type="text" class="form-control" form="formEg" ng-model="vm.entityEg.saldoEnCaja" required />
                        </div>
                        <div class="col-12 col-md-4">
                            <label>Valor Egreso</label>
                            <input type="text" class="form-control" form="formEg" ng-model="vm.entityEg.valor" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-8">
                            <label>Comentario:</label>
                            <textarea rows="3" class="form-control" form="formEg" style="min-width:100%" ng-model="vm.entityEg.comentario" required></textarea>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-8">
                            <button class="btn btn-primary" ng-click="vm.guardarEgreso()" ng-disabled="formEg.$invalid">Guardar Egreso</button>
                            <button class="btn btn-default" ng-click="vm.cancelarEgreso()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4" ng-show="vm.formVisible">
    <div class="col-12 offset-md-1 col-md-8">
        <div class="card">
            <div class="card-header">
                <h4 ng-if="vm.formOpen">Abrir Caja</h4>
                <h4 ng-if="!vm.formOpen">Cerrar Caja</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <form id="formApp" name="formApp" novalidate="novalidate" class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-12 col-md-8">
                                    <label>Cajero:</label>
                                    <input type="text" form="formApp" class="form-control" ng-model="vm.entityCaj.descripcion" required readonly="readonly" />
                                </div>
                                <div class="col-12 col-md-4">
                                    <label>Turno:</label>
                                    <ui-select ng-model="vm.entity.idTurno"
                                               form="formApp"
                                               theme="bootstrap"
                                               tabindex="7"
                                               required
                                               ng-disabled="!vm.formOpen">
                                        <ui-select-match placeholder="Seleccione...">{{$select.selected.descripcion}}</ui-select-match>
                                        <ui-select-choices repeat="item.idDetalle as item in vm.listTurnos | filter: $select.search">
                                            <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-md-4">
                                    <label>Saldo Inicial:</label>
                                    <input type="number" form="formApp" class="form-control" ng-model="vm.entity.saldoInicial" required ng-disabled="!vm.formOpen" />
                                </div>
                                <div class="col-12 col-md-4" ng-if="!vm.formOpen">
                                    <label>Saldo Final:</label>
                                    <input type="number" form="formApp" class="form-control" ng-model="vm.entity.saldoFinal" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12">
                                    <label>Comentario:</label>
                                    <textarea rows="3" style="min-width:100%" ng-model="vm.entity.comentario" ng-disabled="!vm.formOpen"></textarea>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-primary" ng-click="vm.btnGuardar()" ng-disabled="formApp.$invalid">Guardar</button>
                        <button class="btn btn-default" ng-click="vm.cancelar()">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4" ng-show="vm.postCerrado">
    <div class="col-12 offset-md-1 col-md-6">
        <div class="card">
            <div class="card-header">
                <h4 class="text-success">¡La caja ha sido cerrada exitosamente!</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <h4>¿Qu&eacute; desea hacer?</h4>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-success" ng-click="vm.imprimirCaja()">Imprimir</button>
                        <button class="btn btn-default" ng-click="vm.regresar()">Regresar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/master/js/controllers/ventas/caja.controller.js"></script>