
@{
    ViewData["Title"] = "Facturar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fontsize-10 {
        max-height: 250px;
    }
</style>

<div class="row" ng-show="!vm.formFact">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="card">
            <div class="card-header">
                <form class="form-horizontal" id="form" name="form">
                    <div class="form-group row">
                        <div class="col-12 col-md-4">
                            <label>Fecha Inicial:</label>
                            <input type="date" class="form-control" ng-model="vm.fechaInicial" />
                        </div>
                        <div class="col-12 col-md-4">
                            <label>Fecha Final:</label>
                            <input type="date" class="form-control" ng-model="vm.fechaFinal" />
                        </div>
                        <div class="col-12 col-md-4">
                            <br />
                            <button class="btn btn-primary" ng-click="vm.getAll()">Buscar</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="fontsize-10" ui-grid="vm.gridOptionsFac" ui-grid-selection ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-primary" ng-click="vm.nuevo()">Nuevo</button>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="vm.formFact">
    <div class="col-12 pl-5 pr-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>{{vm.entityMov.tipoDoc}} #{{vm.entityMov.numDoc}}</h4>
                    </div>
                    <div class="card-body">
                        <form id="formApp" name="formApp" novalidate="novalidate" class="form-horizontal">
                            <div class="form-group row">
                                <div class="col-12 col-md-6" ng-show="!vm.modify || vm.entityMov.idTercero != null">
                                    <label class="required">Cliente Nombre:</label>
                                    <ui-select ng-model="vm.entityMov.idTercero"
                                               form="formApp"
                                               theme="bootstrap"
                                               tabindex="7"
                                               required
                                               ng-disabled="vm.modify"
                                               on-select="vm.onChangeCliente($item, $model)">
                                        <ui-select-match placeholder="Seleccione un tercero...">{{$select.selected.nombreTercero}}</ui-select-match>
                                        <ui-select-choices repeat="item.idTercero as item in vm.listTerceros track by $index">
                                            <div ng-bind-html="item.nombreTercero | highlight: $select.search"></div>
                                        </ui-select-choices>

                                    </ui-select>
                                </div>
                                <div class="col-12 col-md-3" ng-show="!vm.modify || vm.entityMov.idTercero != null">
                                    <label class="required">Plazo de Pago:</label>
                                    <ui-select ng-model="vm.entityMov.idPlazoPago"
                                               form="formApp"
                                               theme="bootstrap"
                                               tabindex="7"
                                               required>
                                        <ui-select-match placeholder="Seleccione un plazo de pago...">{{$select.selected.descripcion}}</ui-select-match>
                                        <ui-select-choices repeat="item.idPlazoPago as item in vm.listPlazosPago track by $index">
                                            <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-12 col-md-3">
                                    <label class="required">Fecha Venta:</label>
                                    <input type="date" form="formApp" ng-model="vm.entityMov.fechaDoc" class="form-control" required />
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-12 col-md-6" ng-show="!vm.modify || vm.entityMov.idTercero != null">
                                    <label class="required">Vendedor:</label>
                                    <ui-select ng-model="vm.entityMov.idVendedor"
                                               form="formApp"
                                               theme="bootstrap"
                                               tabindex="7"
                                               required>
                                        <ui-select-match placeholder="Seleccione un vendedor...">{{$select.selected.nombreVendedor}}</ui-select-match>
                                        <ui-select-choices repeat="item.idVendedor as item in vm.listVendedores track by $index">
                                            <div ng-bind-html="item.nombreVendedor | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                                <div class="col-12 col-md-6">
                                    <label class="required">Almacen:</label>
                                    <ui-select ng-model="vm.entityMov.idDetAlmacen"
                                               form="formApp"
                                               theme="bootstrap"
                                               tabindex="7"
                                               required
                                               ng-disabled="vm.modify">
                                        <ui-select-match placeholder="Seleccione un almacen...">{{$select.selected.descripcion}}</ui-select-match>
                                        <ui-select-choices repeat="item.idDetalle as item in vm.listAlmacens track by $index">
                                            <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h6>Articulos Detallados</h6>
                    </div>
                    <div class="card-body">
                        <div class="row" ng-show="!vm.modify">
                            <div class="col-12 col-md-8" ng-if="vm.busquedaArtTexto">
                                <ui-select ng-model="vm.entityMov.idArticulo"
                                           form="formAppDet"
                                           theme="bootstrap"
                                           tabindex="7"
                                           required
                                           on-select="vm.onChangeArticulo($item, $model)">
                                    <ui-select-match placeholder="Seleccione un articulo...">{{$select.selected.articulo.nombreBusqueda}}</ui-select-match>
                                    <ui-select-choices repeat="item.idArticulo as item in vm.listArticulos track by $index"
                                                       refresh="vm.refreshArticulo($select.search)"
                                                       refresh-delay="0">
                                        <div ng-bind-html="item.articulo.nombreBusqueda | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div ng-if="vm.busquedaArtCodigo" class="col-12 col-md-8">
                                <input type="text" class="form-control" ng-model="vm.entityMov.busquedaCodigo" placeholder="Digite código" form="formAppDet" required />
                            </div>
                            <div class="col-12 col-md-4">
                                <button ng-if="!vm.busquedaArtTexto" ng-click="vm.clicTipoBusqueda('Texto')" class="btn-link">¿B&uacute;squeda por texto?</button>
                                <button ng-if="!vm.busquedaArtCodigo" ng-click="vm.clicTipoBusqueda('Codigo')" class="btn-link">¿B&uacute;squeda por c&oacute;digo?</button>
                            </div>
                        </div>
                        <div class="row mt-sm-3">
                            <div class="col-12">
                                <div class="fontsize-10" ui-grid="vm.gridOptions" ui-grid-selection ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                            </div>
                        </div>
                        <div class="row mt-sm-3">
                            <div class="col-12">
                                <label>Comentarios:</label><br />
                                <textarea ng-model="vm.entityMov.comentario" class="form-control"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-12 col-md-3" ng-if="vm.entityMov.valorBruto > 0">
                                    <label>Vr. Bruto:</label>
                                    <input type="text" ng-model="vm.entityMov.valorBruto | number : 0" class="form-control" onkeydown="return false" />
                                </div>
                                <div class="col-12 col-md-3" ng-if="vm.entityMov.valorDscto > 0">
                                    <label>Vr. Descuento:</label>
                                    <input type="text" ng-model="vm.entityMov.valorDscto | number : 0" class="form-control" onkeydown="return false" />
                                </div>
                                <div class="col-12 col-md-3" ng-if="vm.entityMov.valorIva > 0">
                                    <label>Vr. Iva:</label>
                                    <input type="text" ng-model="vm.entityMov.valorIva | number : 0" class="form-control" onkeydown="return false" />
                                </div>
                                <div class="col-12 col-md-3" ng-if="vm.entityMov.valorNeto > 0">
                                    <label>Valor. Neto:</label>
                                    <input type="text" ng-model="vm.entityMov.valorNeto | number : 0" class="form-control" onkeydown="return false" />
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <button class="btn btn-primary" ng-click="vm.guardar()" ng-disabled="formApp.$invalid || vm.gridOptions.data.length === 0">Guardar</button>
                                    <button class="btn btn-default" ng-click="vm.cancelar()">Cancelar</button>
                                    <button class="btn btn-danger ml-5" ng-click="vm.anular()" ng-if="vm.modify">Anular</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/master/js/controllers/ventas/facturar.controller.js"></script>