
@{
    ViewData["Title"] = "PuntoDeVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fontsize-10{
        max-height:200px !important;
    }
</style>

<div class="row" ng-show="vm.gridPrincipal">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="row">
            <div class="col-12 offset-md-1 col-md-10">
                <div class="card">
                    <div class="card-body">
                        <div class="col-12">
                            <form id="formApp" name="formApp" novalidate="novalidate" class="form-horizontal">
                                <div class="form-group row">
                                    <div class="col-12 col-md-8">
                                        <label>Cliente:</label> <label class="btn-link" ng-click="vm.crearCliente()">¿Crear Cliente?</label>
                                        <ui-select ng-model="vm.entityMov.idTercero"
                                                   form="formApp"
                                                   theme="bootstrap"
                                                   tabindex="7"
                                                   on-select="vm.onChangeCliente($item, $model)">
                                            <ui-select-match placeholder="Seleccione un cliente...">{{$select.selected.nombreTercero}}</ui-select-match>
                                            <ui-select-choices repeat="item.idTercero as item in vm.listClientes | filter: $select.search">
                                                <div ng-bind-html="item.nombreTercero | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="required">Lista de Precio:</label>
                                        <ui-select ng-model="vm.entityMov.idListaPrecio"
                                                   form="formApp"
                                                   theme="bootstrap"
                                                   tabindex="7"
                                                   required>
                                            <ui-select-match placeholder="Seleccione una lista de precio...">{{$select.selected.nombreLista}}</ui-select-match>
                                            <ui-select-choices repeat="item.idListaPrecio as item in vm.listListasPrecios | filter: $select.search">
                                                <div ng-bind-html="item.nombreLista | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 col-md-4">
                                        <label class="required">Fecha:</label>
                                        <input type="date" class="form-control" ng-model="vm.entityMov.fechaDoc" form="formApp" required />
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="required">Almacen:</label>
                                        <ui-select ng-model="vm.entityMov.idDetAlmacen"
                                                   form="formApp"
                                                   theme="bootstrap"
                                                   tabindex="7"
                                                   required>
                                            <ui-select-match placeholder="Seleccione un almacen...">{{$select.selected.descripcion}}</ui-select-match>
                                            <ui-select-choices repeat="item.idDetalle as item in vm.listAlmacens | filter: $select.search">
                                                <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label class="required">Cajero:</label>
                                        <ui-select ng-model="vm.entityMov.idDetCajero"
                                                   form="formApp"
                                                   theme="bootstrap"
                                                   tabindex="7"
                                                   required>
                                            <ui-select-match placeholder="Seleccione un almacen...">{{$select.selected.descripcion}}</ui-select-match>
                                            <ui-select-choices repeat="item.idDetalle as item in vm.listCajeros | filter: $select.search">
                                                <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12 col-md-8" ng-if="vm.busquedaArtTexto">
                                        <label>Articulo:</label>
                                        <ui-select ng-model="vm.entityMov.idArticulo"
                                                   theme="bootstrap"
                                                   tabindex="7"
                                                   on-select="vm.onChangeArticulo($item, $model)">
                                            <ui-select-match placeholder="Seleccione un articulo...">{{$select.selected.nombreBusqueda}}</ui-select-match>
                                            <ui-select-choices repeat="item.idArticulo as item in vm.listArticulos track by $index"
                                                               refresh="vm.refreshArticulo($select.search)"
                                                               refresh-delay="0">
                                                <div ng-bind-html="item.nombreBusqueda | highlight: $select.search"></div>
                                            </ui-select-choices>
                                        </ui-select>
                                    </div>
                                    <div ng-if="vm.busquedaArtCodigo" class="col-12 col-md-8">
                                        <label>Articulo:</label>
                                        <input type="text" class="form-control" ng-model="vm.entityMov.busquedaCodigo" my-enter="vm.getArticuloByCod()" placeholder="Digite código" />
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <br />
                                        <button ng-if="!vm.busquedaArtTexto" ng-click="vm.clicTipoBusqueda('Texto')" class="btn-link">¿B&uacute;squeda por texto?</button>
                                        <button ng-if="!vm.busquedaArtCodigo" ng-click="vm.clicTipoBusqueda('Codigo')" class="btn-link">¿B&uacute;squeda por c&oacute;digo?</button>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-12">
                                        <div class="fontsize-10" ui-grid="vm.gridOptions" ui-grid-selection ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-0">
            <div class="col-12 offset-md-1 col-md-10">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-8">
                                <div class="row">
                                    <div class="col-12 col-md-3">
                                        <label>Vr. Bruto:</label>
                                        <input type="text" ng-model="vm.entityMov.valorBruto | number : 0" class="form-control" onkeydown="return false" />
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <label>Vr. Descuento:</label>
                                        <input type="text" ng-model="vm.entityMov.valorDscto | number : 0" class="form-control" onkeydown="return false" />
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <label>Vr. Iva:</label>
                                        <input type="text" ng-model="vm.entityMov.valorIva | number : 0" class="form-control" onkeydown="return false" />
                                    </div>
                                    <div class="col-12 col-md-3">
                                        <label>Vr. Neto:</label>
                                        <input type="text" ng-model="vm.entityMov.valorNeto | number : 0" class="form-control" onkeydown="return false" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="row">
                                    <div class="col-12">
                                        <div class="fontsize-10" ui-grid="vm.gridOptionsPag" ui-grid-selection ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                                    </div>
                                </div>
                                <div class="row mt-1">
                                    <div class="col-12 col-md-6">
                                        <h4>{{vm.entityMov.vrRestante | number : 0}}</h4>
                                    </div>
                                    <div class="col-12 col-md-6 text-right">
                                        <button class="btn btn-primary" ng-click="vm.btnGuardar()" ng-disabled="formApp.$invalid || vm.gridOptions.data.length === 0">Guardar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>
<div class="row" ng-show="vm.gridCliente">
    <div class="col-12 offset-md-2 col-md-8">
        <div class="card">
            <div class="card-header">
                <h4>Crear Cliente</h4>
            </div>
            <div class="card-body">
                <form id="formAppCli" name="formAppCli" novalidate="" class="form-horizontal">
                    <div class="form-group row">
                        <div class="col-12 col-md-4">
                            <label>Nit/C&eacute;dula:<i>*</i></label>
                            <input type="text" class="form-control" form="formAppCli" ng-model="vm.entityCli.nitCedula" required />
                        </div>
                        <div class="col-12 col-md-3">
                            <label>Dg. Verificaci&oacute;n:</label>
                            <input type="text" class="form-control" form="formAppCli" ng-model="vm.entityCli.dgVerificacion" minlength="0" maxlength="1" />
                        </div>
                        <div class="col-12 col-md-5">
                            <label>Tipo Cliente:<i>*</i></label>
                            <select ng-model="vm.entityCli.idDetTipoPersona" form="formAppCli" class="form-control" required>
                                <option ng-repeat="item in vm.listTiposPer" value="{{ item.idDetalle }}">{{ item.descripcion }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-8">
                            <label>Nombre Cliente:<i>*</i></label>
                            <input type="text" class="form-control" form="formAppCli" ng-model="vm.entityCli.nombreTercero" required />
                        </div>
                        <div class="col-12 col-md-4">
                            <label>Plazo Pago:<i>*</i></label>
                            <select ng-model="vm.entityCli.idPlazoPago" form="formAppCli" class="form-control" required>
                                <option ng-repeat="item in vm.listPlazosPago" value="{{ item.idPlazoPago }}">{{ item.descripcion }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-6">
                            <label>Departamento:<i>*</i></label>
                            <ui-select ng-model="vm.entityCli.idDepartamento"
                                       form="formAppCli"
                                       theme="bootstrap"
                                       tabindex="7"
                                       required
                                       on-select="vm.getCiudades()">
                                <ui-select-match placeholder="Seleccione un departamento...">{{$select.selected.nombreDepartamento}}</ui-select-match>
                                <ui-select-choices repeat="item.idDepartamento as item in vm.listDepartamentos | filter: $select.search">
                                    <div ng-bind-html="item.nombreDepartamento | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-12 col-md-6">
                            <label>Ciudad:<i>*</i></label>
                            <ui-select ng-model="vm.entityCli.idCiudad"
                                       form="formAppCli"
                                       theme="bootstrap"
                                       tabindex="7"
                                       required>
                                <ui-select-match placeholder="Seleccione una ciudad...">{{$select.selected.nombreCiudad}}</ui-select-match>
                                <ui-select-choices repeat="item.idCiudad as item in vm.listCiudades | filter: $select.search">
                                    <div ng-bind-html="item.nombreCiudad | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-6">
                            <label>Direcci&oacute;n:<i>*</i></label>
                            <input type="text" class="form-control" form="formAppCli" ng-model="vm.entityCli.direccion" required />
                        </div>
                        <div class="col-12 col-md-6">
                            <label>Tel&eacute;fono:<i>*</i></label>
                            <input type="text" class="form-control" form="formAppCli" ng-model="vm.entityCli.telefono" required />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-5">
                            <label>Correo:</label>
                            <input type="text" class="form-control" form="formAppCli" ng-model="vm.entityCli.eMail" />
                        </div>
                        <div class="col-12 col-md-4">
                            <label>Zona:<i>*</i></label>
                            <select ng-model="vm.entityCli.idDetZona" form="formAppCli" class="form-control" required>
                                <option ng-repeat="item in vm.listZonas" value="{{ item.idDetalle }}">{{ item.descripcion }}</option>
                            </select>
                        </div>
                        <div class="col-12 col-md-3">
                            <label>¿IVA?:<i>*</i></label>
                            <select ng-model="vm.entityCli.iva" form="formAppCli" class="form-control" required>
                                <option ng-repeat="item in vm.listBool" value="{{ item.codigo }}">{{ item.descripcion }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-12 col-md-6">
                            <label>Vendedor:<i>*</i></label>
                            <ui-select ng-model="vm.entityCli.idVendedor"
                                       form="formAppCli"
                                       theme="bootstrap"
                                       tabindex="7"
                                       required>
                                <ui-select-match placeholder="Seleccione un vendedor...">{{$select.selected.nombreVendedor}}</ui-select-match>
                                <ui-select-choices repeat="item.idVendedor as item in vm.listVendedores | filter: $select.search">
                                    <div ng-bind-html="item.nombreVendedor | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="col-12 col-md-6">
                            <label>Lista de Precio:<i>*</i></label>
                            <ui-select ng-model="vm.entityCli.idListaPrecio"
                                       form="formAppCli"
                                       theme="bootstrap"
                                       tabindex="7"
                                       required>
                                <ui-select-match placeholder="Seleccione una lista de precio...">{{$select.selected.nombreLista}}</ui-select-match>
                                <ui-select-choices repeat="item.idListaPrecio as item in vm.listListasPrecios | filter: $select.search">
                                    <div ng-bind-html="item.nombreLista | highlight: $select.search"></div>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                    </div>
                    @*<div class="form-group row">
                        <div class="col-12 col-md-4">
                            <label>Limite Credito:<i>*</i></label>
                            <input type="number" form="formAppCli" class="form-control" ng-model="vm.entityCli.limiteCredito" required />
                        </div>
                        <div class="col-12 col-md-4">
                            <label>Cuenta Contable:</label>
                            <input type="number" class="form-control" form="formAppCli" ng-model="vm.entityCli.idCuentaContable" />
                        </div>
                        <div class="col-12 col-md-4">
                            <label>Estado:<i>*</i></label>
                            <select ng-model="vm.entityCli.estado" form="formAppCli" class="form-control" required>
                                <option ng-repeat="item in vm.listEstados" value="{{ item.codigo }}">{{ item.descripcion }}</option>
                            </select>
                        </div>
                    </div>*@
                    <div class="form-group row">
                        <div class="col-12">
                            <button class="btn btn-primary" ng-click="vm.guardarCliente()" ng-disabled="formAppCli.$invalid">Guardar</button>
                            <button class="btn btn-default" ng-click="vm.cancelarCliente()">Cancelar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="~/master/js/controllers/ventas/punto.de.venta.controller.js"></script>