
@{
    ViewData["Title"] = "PuntoDeVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .fontsize-10{
        max-height:200px !important;
    }
</style>

<div class="row">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="card">
            <div class="card-header text-center">
                <h6>Articulos Detallados</h6>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <form id="formApp" name="formApp" novalidate="novalidate" class="form-horizontal">
                        <div class="form-group row">
                            <div class="col-12 col-md-4">
                                <label class="required">Fecha:</label>
                                <input type="date" class="form-control" ng-model="vm.entityMov.fechaDoc" form="formApp" required />
                            </div>
                            <div class="col-12 col-md-8">
                                <label class="required">Almacen:</label>
                                <ui-select ng-model="vm.entityMov.idDetAlmacen"
                                           form="formApp"
                                           theme="bootstrap"
                                           tabindex="7"
                                           required>
                                    <ui-select-match placeholder="Seleccione un almacen...">{{$select.selected.descripcion}}</ui-select-match>
                                    <ui-select-choices repeat="item.idDetalle as item in vm.listAlmacens track by $index">
                                        <div ng-bind-html="item.descripcion | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <label>Articulo:</label>
                                <ui-select ng-model="vm.entityMov.idArticulo"
                                           theme="bootstrap"
                                           tabindex="7"
                                           on-select="vm.onChangeArticulo($item, $model)">
                                    <ui-select-match placeholder="Seleccione un articulo...">{{$select.selected.nombreBusqueda}}</ui-select-match>
                                    <ui-select-choices repeat="item.idArticulo as item in vm.listArticulos track by $index"
                                                       refresh="vm.refreshArticulo($select.search)"
                                                       refresh-delay="0">
                                        <div ng-bind-html="item.nombreBusqueda | highlight: $select.search"></div>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-12">
                                <div class="fontsize-10" ui-grid="vm.gridOptions" ui-grid-selection ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-0">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-md-8">
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <label>Vr. Bruto:</label>
                                <input type="text" ng-model="vm.entityMov.valorBruto | number : 0" class="form-control" onkeydown="return false" />
                            </div>
                            <div class="col-12 col-md-3">
                                <label>Vr. Descuento:</label>
                                <input type="text" ng-model="vm.entityMov.valorDscto | number : 0" class="form-control" onkeydown="return false" />
                            </div>
                            <div class="col-12 col-md-3">
                                <label>Vr. Iva:</label>
                                <input type="text" ng-model="vm.entityMov.valorIva | number : 0" class="form-control" onkeydown="return false" />
                            </div>
                            <div class="col-12 col-md-3">
                                <label>Vr. Neto:</label>
                                <input type="text" ng-model="vm.entityMov.valorNeto | number : 0" class="form-control" onkeydown="return false" />
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-4">
                        <div class="row">
                            <div class="col-12">
                                <div class="fontsize-10" ui-grid="vm.gridOptionsPag" ui-grid-selection ui-grid-cellNav ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                            </div>
                        </div>
                        <div class="row mt-1">
                            <div class="col-12 col-md-6">
                                <h4>{{vm.entityMov.vrRestante | number : 0}}</h4>
                            </div>
                            <div class="col-12 col-md-6 text-right">
                                <button class="btn btn-primary" ng-click="vm.guardar()" ng-disabled="formApp.$invalid || vm.gridOptions.data.length === 0">Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-0">
    
</div>

<script src="~/master/js/controllers/ventas/punto.de.venta.controller.js"></script>