
@{
    ViewData["Title"] = "EntradasPorCompra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row mt-3" ng-show="!vm.form">
    <div class="col-12 offset-md-1 col-md-10">
        <div class="card">
            <div class="card-header">
                
            </div>
            <div class="card-body">
                <div class="fontsize-10" ui-grid="vm.gridOptions" ui-grid-selection ui-grid-resize-columns ui-grid-auto-resize></div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-3" ng-show="vm.form">
    <div class="col-12 pl-5 pr-5">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h6>Articulos Detallados</h6>
                    </div>
                    <div class="card-body">
                        <form id="formApp" name="formApp" novalidate="novalidate" class="form-horizontal">
                            <div class="col-12">
                                <div class="form-group row">
                                    <div class="col-12 col-md-4">
                                        <label>Fecha Documento:<i>*</i></label>
                                        <input type="date" class="form-control" form="formApp" required ng-model="vm.entityMov.fechaDoc" />
                                    </div>
                                    <div class="col-12 col-md-4">
                                        <label>N&uacute;mero de Factura:</label>
                                        <input type="text" class="form-control" form="formApp" required ng-model="vm.entityMov.numFactura" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 mt-sm-3">
                                <div class="fontsize-10" ui-grid="vm.gridOptionsDet" ui-grid-cellNav ui-grid-selection ui-grid-edit ui-grid-resize-columns ui-grid-auto-resize></div>
                            </div>
                            <div class="col-12 mt-sm-3">
                                <label>Comentarios:</label><br />
                                <textarea ng-model="vm.entityMov.comentario" class="form-control"></textarea>
                            </div>
                            <div class="col-12 mt-sm-3 text-right">
                                <button class="btn btn-default" ng-click="vm.regresar()">Regresar</button>
                                <button class="btn btn-primary" ng-click="vm.guardar()" ng-disabled="formApp.$invalid || vm.gridOptionsDet.data.length === 0">Guardar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/master/js/controllers/inventario/entradas.compras.controller.js"></script>