.red {
    color: #dc3545;
}

.blue {
    color: #007bff;
}

.green {
    color: #28a745;
}

.bg-header {
    /*background-color: #b5e0f3;*/
    text-align: center;
}

.ui-state-active {
    background-color: #6f42c1 !important;
    color: white !important;
    border-color: #6f42c1 !important;
}

.form-group label i {
    color:red;
}

#menu-opciones i {
}

#aLogout {
    cursor: pointer;
}

i.btn-link {
    cursor: pointer;
}




#TextoTitulo span {
    font-size: 1.5em;
    text-transform: capitalize;
}

.fontsize-10 {
    font-size: 0.8em;
}

    .fontsize-10 .fa {
        font-size: 1.5em;
    }

.ui-select-choices.ui-select-choices-content.ui-select-dropdown.dropdown-menu {
    display: block;
}

.ui-select-bootstrap .ui-select-choices-row.active > span {
    color: #000;
    text-decoration: none;
    outline: 0;
    background-color: #b5e0f3;
}

.ui-select-bootstrap .form-control {
    background-color: white !important;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    display: block;
}

.p-5 {
    padding-top: 0 !important;
}


.form-control {
    height: calc(2rem + 1px);
    padding: 5px 7.5px;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    border-radius: 0;
    font-size: 0.9em;
}

.card .card-header.bg-blue {
    background-color: #b5e0f3 !important;
    color:black;
}

